bandit==1.8.3
black
coverage-badge==1.1.2
dvc==3.59.2
flake8
flake8==7.2.0
gdown==5.2.0
ipython
isort
joblib==1.5.0
jupyterlab
lib-ml @ git+https://github.com/remla25-team18/lib-ml.git@v0.0.8
notebook
numpy==1.24.0
pandas==2.2.3
pylint==3.3.7
pytest-cov==6.1.1
pytest==8.3.5
scikit-learn==1.6.1
scipy==1.15.2
threadpoolctl==3.6.0
